[Unit]
Description=platmon platform monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/share/platmon/platmon.py /etc/platmon/platmon.ini
Environment=PYTHONDONTWRITEBYTECODE=1
DynamicUser=yes
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
